{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

<title>用户注册</title>
</head>
<style type="text/css">
  .line-boder{
	border:1px solid;
	border-color:#EEEEEE;
	padding:2em;
}
  .line-boder input[type=submit]{
	width:100%;
	background-color:#33ccff
}
</style> 
{% include '_counts.html' %}
<body>
<div class="container">
	<br>
	<div class="row">
		<div class="col col-md-4 "></div>
    <div class="col col-md-4 " >
    	<div class="line-boder">
    		 <h2>用户注册</h2>
        {{ wtf.quick_form(form) }}
    	</div>	 
    	<div style="float:right;">
        已经有账号？点击进行<a href="{{ url_for('auth.login') }}"> <b>登录 </b></a>
    	  </div> 
    </div>
	</div>
</div>
</body>
</html>