	<meta charset="utf-8">
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane contact active" id="notice">
		  <h3>日志总数:
			  {{ post_counts }} 篇
		  </h3>
	    <h3>网站运行:
		  <span id="sitetime">{{days}} 天 </span></h3>
		  <h3>访问量:
		  <span>{{vistors}} 人次</span></h3>
	  </div>
		<div role="tabpanel" class="tab-pane contact" id="contact">
		  <h3>QQ: 879651072
			  <a href="" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""  data-original-title="QQ:"></a>
		  </h3>
		  	<h3>CSDN: 
		  <a href="http://blog.csdn.net/hyman_c" style="font-size:0.8em;color:blue;text-decoration:underline;" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title="Hyman的CSDN博客"  data-original-title="#"> http://blog.csdn.net/hyman_c</a></h3>
		  	 <h3>Github: 
		  <a href="https://github.com/HymanLiuTS" style="font-size:0.8em;color:blue;text-decoration:underline;" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title="Hyman的Github"  data-original-title="#"> https://github.com/HymanLiuTS</a></h3>
	  </div>
	</div>