<!DOCTYPE html>
<html>
<head>
<title>关于站长</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resume Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style1.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- fonts -->

	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/static/js/move-top.js"></script>
		<script type="text/javascript" src="/static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->

<!-- skills -->
<script src="/static/js/pie-chart.js" type="text/javascript"></script>
 <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });
			
			$('#demo-pie-4').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });
        });
    </script>
<!-- skills -->
<script type="text/javascript" src="/static/js/numscroller-1.0.js"></script>

</head>
{% include '_counts.html' %}
<body>
<div class="banner"">
<nav class="navbar navbar-default">
  {% include '_header.html' %}
</nav>
</div>
<br>
<div class="header">	
	<div class="container">
		<a name="top"></a>
		<div class="col-md-8 header-left">
			<div class="col-sm-5 pro-pic">
				<img class="img-responsive" src="/static/images/pic1.jpg" alt=" "/>
			</div>
			<div class="col-sm-5 pro-text">
				<h1>刘志辉</h1>
				<p>软件工程师</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 header-right ">
			<ul class="list-left">
				<li>电子邮箱:</li>
				<li>CSDN博客:</li>
				<li>Github:</li>
				<li>所在地:</li>
			</ul>
			<ul class="list-right">
				<li><a href="mailto:879651072@qq.com">879651072@qq.com</a></li>
				<li><a href="http://blog.csdn.net/hyman_c" target="_blank">http://blog.csdn.net/hyman_c</a></li>
				<li><a href="https://github.com/HymanLiuTS" target="_blank">https://github.com/HymanLiuTS</a></li>
				<li><a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E6%B7%B1%E5%9C%B3" target="_blank">广东深圳</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- about -->
<div id="about" class="about">
	<div class="container">
		<h3 class="tittle">关于我</h3>
		<p class="abt-para">为人子，为人父，为人夫。挨踢小兵一枚，热爱技术，乐于学习和分享，
			崇尚极客精神，渴望用自己的知识去change the world！</p>
	</div>
	<div class="col-md-6 abt-left ">
		<h2>教育和工作经历</h2>
		
		    <div class="accordion">
							<div class="accordion-section">
								<h5><a class="accordion-section-title" href="#accordion-2">
									<span>2012 - 至今,任职于</span>深圳中电电力技术股份有限公司
								<i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
								</a></h5>
								<div id="accordion-2" class="accordion-section-content">
									<ul>
										<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">部门：系统软件部</a></li>
										<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">职业：软件开发工程师</a></li>
									</ul>
								</div>
							</div>
				</div>
				<br><br>
				<div class="accordion">
							<div class="accordion-section">
								<h5><a class="accordion-section-title" href="#accordion-1">
									<span>2007 - 2011,就读于</span>长沙理工大学
								<i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
								</a></h5>
								<div id="accordion-1" class="accordion-section-content">
									<ul>
										<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">学院：电气与信息工程学院</a></li>
										<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">专业：电子信息工程</a></li>
										<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">学历：大学本科</a></li>
									</ul>
								</div>
							</div>
				</div>
				<script>
							jQuery(document).ready(function() {
								function close_accordion_section() {
									jQuery('.accordion .accordion-section-title').removeClass('active');
									jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
								}

								jQuery('.accordion-section-title').click(function(e) {
									// Grab current anchor value
									var currentAttrValue = jQuery(this).attr('href');

									if(jQuery(e.target).is('.active')) {
										close_accordion_section();
									}else {
										close_accordion_section();

										// Add active class to section title
										jQuery(this).addClass('active');
										// Open up the hidden content panel
										jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open'); 
									}

									e.preventDefault();
								});
							});
				</script>
	</div>
	<div class="col-md-6 abt-right">
		
	</div>
	<div class="clearfix"></div>
</div>
<!-- about -->
<!-- education -->
<div class="employment" style="display:None;">
	<div class="container">
		<h3 class="tittle ">Work Experience</h3>
		<div class="col-md-6 employ-left">
			<h4>01</h4>
		</div>
		<div class="col-md-6 employ-right">
			<h5><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>Web Designer</h5>
			<p>voluptatem accusantium doloremque laudantium, totam 
		rem aperiam, eaque ipsa quae ab illo inventore veritatis </p>
		</div>
		<div class="col-md-6 employ-left2">
			<h5>UI/UX Designer<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></h5>
			<p>voluptatem accusantium doloremque laudantium, totam 
		rem aperiam, eaque ipsa quae ab illo inventore veritatis </p>
		</div>
		<div class="col-md-6 employ-right2">
			<h4>02</h4>
		</div>
		<div class="col-md-6 employ-left ">
			<h4>03</h4>
		</div>
		<div class="col-md-6 employ-right">
			<h5><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>HTML Developer</h5>
			<p>voluptatem accusantium doloremque laudantium, totam 
		rem aperiam, eaque ipsa quae ab illo inventore veritatis </p>
		</div>
		<div class="col-md-6 employ-left2">
			<h5>Photoshop<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></h5>
			<p>voluptatem accusantium doloremque laudantium, totam 
		rem aperiam, eaque ipsa quae ab illo inventore veritatis </p>
		</div>
		<div class="col-md-6 employ-right2">
			<h4>04</h4>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- education -->
<!-- more skills -->
<div class="more">
	<div class="container">
		<h3 class="tittle ">技能</h3>
		<div class="col-md-6 skill-left ">
			<div class="progress">
				  <div class="progress-bar progress-bar-success1" style="width: 30%">C/C++
					<span class="sr-only">35% Complete (success)</span>
				  </div>
				  <div class="progress-bar progress-bar-warning1" style="width: 40%">
					<span class="sr-only"></span>
				  </div>
				  <p>75%</p>
				  <div class="clearfix"></div>
			</div>
			<div class="progress">
				  <div class="progress-bar progress-bar-success3" style="width: 30%">C#
					<span class="sr-only">35% Complete (success)</span>
				  </div>
				  <div class="progress-bar progress-bar-warning3 " style="width: 45%">
					<span class="sr-only"></span>
				  </div>
				  <p>80%</p>
				  <div class="clearfix"></div>
			</div>
			<div class="progress">
				  <div class="progress-bar progress-bar-success2" style="width: 30%">Python
					<span class="sr-only">35% Complete (success)</span>
				  </div>
				  <div class="progress-bar progress-bar-warning2" style="width: 35%">
					<span class="sr-only"></span>
				  </div>
				  <p>65%</p>
				  <div class="clearfix"></div>
			</div>
			
			<div class="progress no-marg">
				  <div class="progress-bar progress-bar-success4" style="width: 30%">Javascript/CSS/HTML
					<span class="sr-only">35% Complete (success)</span>
				  </div>
				  <div class="progress-bar progress-bar-warning4" style="width: 35%">
					<span class="sr-only"></span>
				  </div>
				  <p>65%</p>
				  <div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-6 skill-right ">
			<div class="scrollbar scrollbar1">
				<div class="more-gds">
					<div class="col-sm-3 more-left">
						<img src="/static/images/C.png" width="100%" height="100%">
					</div>
					<div class="col-sm-9 more-right">
						<h4>C/C++</h4>
						<p>初入挨踢行业时最早使用的语言，起初主要是Windows平台的C/C++的开发，熟悉微软的Win32 SDK、MFC，
						后面开始接触Unix C，至今一直热衷于Linux和Windows平台的网络编程，并有意向C/C++方向深入的发展。</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="more-gds yes_marg">
					<div class="col-sm-9 more-right2">
						<h4>C#</h4>
						<p>这两年，由于公司平台的转换，开始用C#，主要用Winform和WPF，喜欢WPF，不仅是因为其界面
						效果的炫酷，更重要的是喜欢它WVVM的架构，将界面和后台代码分离的干净利落，用我们北方话说
						就是胡萝卜就酒--嘎嘣脆！嗯，没毛病。</p>
					</div>
					<div class="col-sm-3 more-left">
						<img src="/static/images/C_.png" width="100%" height="100%">
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="more-gds yes_marg">
					<div class="col-sm-3 more-left">
						<img src="/static/images/python.png" width="100%" height="100%">
					</div>
					<div class="col-sm-9 more-right">
						<h4>Python & 前端</h4>
						<p>纯属个人爱好，利用业余学了Python、Javascrip、CSS、HTML等知识。很喜欢Python的风格，干净整洁。
						用flask框架开发了这个博客后端，前端用了Bootstrap框架以及jQuery。觉得HTML5不错，以后应该会继续
						深入的学习，开发个小游戏什么的。</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>	
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- more skills -->

	<!--scrolling js-->
	<script src="/static/js/jquery.nicescroll.js"></script>
	<script src="/static/js/scripts.js"></script>
	<!--//scrolling js-->
<footer class="footer">
<div class="container">
	<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
  </div>
<div id="gotop" style="display: block;"><a class="gotop" href="#top"></a>
</div>
</footer>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.ias.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>
