<!DOCTYPE HTML>
<html>
<head>
<title>
{% block title %}
Home
{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Treks Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="all">
<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}" rel="stylesheet" type="text/css" media="all"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{{url_for('static',filename='js/menu_jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/carousel.js')}}"></script>
<style type="text/css">
        #packt{
            padding: 30px;
        }
    </style>
</head>
<body>
<div class="banner">
	<div class="container">		
		 <div class="logo">
			<h1><a href="{{url_for("main.index")}}">代码、诗和远方</a></h1>
		 </div>
		 <div class="header-right">
			<div class="head-top">
					<div class="top-nav-right">
												
						{% if current_user.is_authenticated %}
						<img class="img-rounded profile-thumbnail" src="{{ current_user.gravatar(size=60) }}">
						<div class="loginContainer"><a href="{{url_for("auth.logout")}}"><span>登出</span></a>
						</div>
						{% else %}	
						<div class="loginContainer"><a href="{{url_for("auth.login")}}"><span>登录</span></a>	   
                  </div>				  
					  <div class="loginContainer"><a href="{{url_for("auth.register")}}"><span>注册</span></a>
						</div>
						{% endif %}
				
			         <div class="clearfix"> </div>
				   </div>
				 </div>
			<div class="top-nav">
					<span class="menu"> <img src="{{url_for('static',filename='images/icon.png')}}" alt=""/></span>
					<ul class="res" >
					    <li><a href="{{url_for("main.index")}}" class="active hvr-sweep-to-bottom">主页</a></li> 
						<li><a class="hvr-sweep-to-bottom" href="/about.html">生活</a></li>  
						<li><a class="hvr-sweep-to-bottom" href="typo.html">代码</a></li>
						<li><a class="hvr-sweep-to-bottom" href="gallery.html">流年</a></li> 
						<li><a class="hvr-sweep-to-bottom" href="contact.html">关于我</a></li> 
					 </ul>
                        <div class="clearfix"> </div>
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu" ).click(function() {
							 $( "ul.res" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
		        <!-- /script-for-menu -->
				</div>
		 </div>
		 <div class="clearfix"> </div>
    	 <div class="banner-bottom ">	
		 	{% block pagebottom %}{% endblock %}
		 </div>
	 </div>
</div>
<div>
 {% block bottom %}
 {% endblock %}
</div>
</body>