{% extends "base2.html" %}
{% block title %}
主页
{% endblock %}
{% block pagebottom %}
<div class="col-md-2 writebt">
{% if current_user.can(Permission.MODERATE_COMMENTS)%}
	<a href="{{ url_for("main.newpost")}}" class="hvr-sweep-to-right"><span class="glyphicon glyphicon-pencil">
	</span> 写博客</a>
	{% endif %}
	<a href="#articles" class="hvr-sweep-to-right"><span class="glyphicon glyphicon-th-list">
	</span> 文章列表</a>
</div>
<div class="col-md-2"></div>
<div class="col-md-8">
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="height: 450px;">
        {% if posts[0] %}
            <img width="100%" height="100%" src="{{url_for('static',filename=posts[0].img_url)}}" alt="...">
            <div class="carousel-caption" style="float: left;">
                <a href="{{url_for('main.post',id=posts[0].id)}}"><h3>{{posts[0].title}}</h3></a>
                <div>
                 <a href="{{ url_for('.user', username=posts[0].author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ posts[0].author.gravatar(size=40) }}">
                 </a>       
                 <a style="color:#fff;font-size: 1.5em;" href="{{ url_for('.user', username=posts[0].author.username) }}">{{ posts[0].author.username }}</a>
			   	</div>
            </div>
        {% endif %}
        </div>
        <div class="item" style="height: 450px;">
        {% if posts[1] %}
            <img width="100%" height="100%" src="{{url_for('static',filename=posts[1].img_url)}}" alt="...">
            <div class="carousel-caption" style="float: left;">
                <a href="{{url_for('main.post',id=posts[1].id)}}"><h3>{{posts[1].title}}</h3></a>
                <div>
                 <a href="{{ url_for('.user', username=posts[1].author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ posts[1].author.gravatar(size=40) }}">
                 </a>       
                 <a style="color:#fff;font-size: 1.5em;" href="{{ url_for('.user', username=posts[1].author.username) }}">{{ posts[1].author.username }}</a>
			   	</div>
            </div>
         {% endif %}
        </div>
        <div class="item" style="height: 450px;">
         {% if posts[2] %}
            <img width="100%" height="100%" src="{{url_for('static',filename=posts[2].img_url)}}"  alt="...">
            <div class="carousel-caption" style="float: left;">
                <a href="{{url_for('main.post',id=posts[2].id)}}"><h3>{{posts[2].title}}</h3></a>
                <div>
                 <a href="{{ url_for('.user', username=posts[2].author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ posts[2].author.gravatar(size=40) }}">
                 </a>       
                 <a style="color:#fff;font-size: 1.5em;" href="{{ url_for('.user', username=posts[2].author.username) }}">{{ posts[2].author.username }}</a>
			   	</div>
            </div>
           {% endif %}
        </div>
        asasas
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

{% endblock %}

{% block bottom %}
<div id="articles">
 	{% include '_posts2.html' %}
</div>
{% endblock %}


